# Jupyter Notebook & IPython
.ipynb_checkpoints
etc/

# LaTeX & BibLaTeX
*.bbl

# R & Rstudio
.RData
.Rhistory

# Shapely files and cache
shapely/

# Socrata credentials
socrata.json

# virtualenv
.Python
pip-selfcheck.json
bin/
include/
lib/
share/


*.pyc
