# virtualenv
.Python
pip-selfcheck.json
bin/
include/
lib/
share/

# Jupyter Notebook & IPython
.ipynb_checkpoints
etc/

# Shapely files and cache
shapely/

# Ignore Socrata credentials
socrata.json

# Ignore PDFs until final drafts
*.pdf

.pyc
